#light {
  background-color: white;
}
#dark {
  background-color: #14213d;
}
.theme-box {
  width: 60px;
  height: 53px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(142, 148, 242, 0.45);
  display: flex;
  justify-content: center;
  border: none;
}
.theme-main {
  position: fixed;
  right: 100px;
  top: 90px;
}
.theme-box:hover {
  cursor: pointer;
}
.imgtheme {
  margin-top: 5px;
}

#dark .theme-box {
  background-color: #fca311;
}
#dark .title-box {
  background-color: #fca311;
  color: #14213d;
}
#dark .text-box {
  background-color: rgba(214, 214, 214, 0.85);
  border: 20px solid #d6d6d6;
}
#dark .title {
  color: #14213d;
}
#dark .footerbox {
  color: #e3e0e0;
}
#dark .trans1 {
  background-color: #fca311;
}
#dark .trans2 {
  background-color: #d6d6d6;
}
#dark .Parametr1 {
  background-color: #fca311;
}

#dark .Parametr2 {
  background-color: #fca311;
}

#dark .Parametr3 {
  background-color: #fca311;
}
#dark .WrapperBtn {
  border: 20px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.4);
}
#dark .Btn {
  background-color: #fca311;
}
#dark .Timer {
  background-color: black;
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.35);
}
#dark .TimerHead {
  background-color: #fca311;
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.01);
}
#dark .TimerText {
  background-color: black;

  .active {
    background-color: #fca311;
  }
}

#dark{

.Spheres_1 {
  background: linear-gradient(180deg, #14213d 0%, rgba(159, 160, 255, 0) 100%),
    rgba(252, 163, 17, 0.5) !important;
}
.Spheres_2 {
  background: linear-gradient(180deg, #14213d 0%, rgba(159, 160, 255, 0) 100%),
    rgba(252, 163, 17, 0.5) !important;
}
.Spheres_3 {
  background: linear-gradient(180deg, #14213d 0%, rgba(159, 160, 255, 0) 100%),
    rgba(252, 163, 17, 0.5) !important;
}

} 