ul{
    display: flex;
    text-align: center; 
    justify-content: space-between;
    margin-left:  820px;
    margin-right: 820px;
    margin-top:40px;
    margin-bottom:60px;
    font-family: 'Ponnala';
    list-style: none;
}
