.theme-box{
    width: 60px;
    height: 53px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(142, 148, 242, 0.45);
    display:flex;
    justify-content: center;

}
.theme-main{
    position:fixed;
    right:100px;
    top:150px

}